strong {
  color: red;
  text-decoration: underline;
}

.header {
  width: 100%;
  background-color: #444444;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 30px;
}

#calendar_container {
  width: 770px;
  margin-right: auto;
  margin-left: auto;
}

.submit {
  width: 75px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: #4B4788;
  border: none;
  outline: none;
  padding: 5px;
}

.submit:hover {
  background-color: #615C96;
}

button {
  font-weight: 700;
  min-width: 75px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #4B4788;
  color: white;
}

button:hover {
  background-color: #615C96;
}

#header2 {
  padding: 10px;
  color: #4B4788;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #615C96;
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
  width: 110px;
  padding: 0px;
  height: 150px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #DCDCDC;
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #ACA8C8;
}

.day + #currentDay {
  background-color:#C2BFD6;
}

.day + #currentDay:hover {
  background-color: #ACA8C8;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

.event {
  font-size: 10px;
  padding: 3px;
  height: 10px;
  background-color: #4B4788;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.event:hover{
  background-color: #615C96;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 500vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#cancelButton {
  background-color: #d36c6c;
}

#editEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

.box { 
  border-radius: 5px;
  border-style: none;
  display:inline-block;
  text-align: center;
  color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 0;
  margin: auto;
  width: 100px;
}

.dirt {
  background: #e1b382;
}

.haul {
  background: #9068be;
}

.seal {
  background: #3d7c47;
}

.snow {
  background: #76c1d4;
}

.water {
  background: #101357;
}

.sweep {
  background: #333333;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.dirtbiz {
  font-size: 10px;
  padding: 3px;
  background-color: #e1b382;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.haulbiz {
  font-size: 10px;
  padding: 3px;
  background-color: #9068be;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.sealbiz {
  font-size: 10px;
  padding: 3px;
  background-color: #3d7c47;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.snowbiz {
  font-size: 10px;
  padding: 3px;
  background-color: #76c1d4;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.waterbiz {
  font-size: 10px;
  padding: 3px;
  background-color: #101357;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.sweepbiz {
  font-size: 10px;
  padding: 3px;
  background-color: #333333;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.spacer {
  min-width: 50px;
}

.addJobFormArea {
  max-width: 1000px;
  margin: auto;
}

.addJobArea {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  width: 100%;
  padding-bottom: 25px;
}

.addJobForm {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sidebysideBlock {
  display: flex;
  flex-direction: row;
}

.addJobBlock {
  margin: auto;
  padding-bottom: 10px;
}

.label {
  text-align: left;
  font-weight: 700;
  padding-bottom: 8px;
}

.input {
    appearance: none;
    background-image: none;
    border: 0px;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    padding: 14px;
    background-color: var(--background-base,#ffffff);
    box-shadow: inset 0 0 0 1px var(--essential-subdued,#878787);
    color: var(--text-base,#000000);
}

.submit {
  width: 400px;
  font-weight: 700;
  font-size: 16px;
}

.submitBlock {
  padding-bottom: 20px;
}