strong {
	color: red;
	text-decoration: underline;
}

h2 {
	font-size: 30px;
}

#calendar_container {
	width: 770px;
	margin-right: auto;
	margin-left: auto;
}

.submit {  
  font-weight: 700;
  width: 75px;
  cursor: pointer;
	color: white;
	border-radius: 5px;
	background-color: #4B4788;
  border: none;
  outline: none;
  padding: 5px;
}

.submit:hover {
	background-color: #615C96;
}

button {
  font-weight: 700;
  min-width: 75px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
	background-color: #4B4788;
  color: white;
}

button:hover {
  background-color: #615C96;
}

#header2 {
  padding: 10px;
  color: #4B4788;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #615C96;
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
  	width: 100%;
  	margin: auto;
  	display: flex;
  	flex-wrap: wrap;
}

.day {
  width: 110px;
  padding: 0px;
  height: 150px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #DCDCDC;
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #ACA8C8;
}

.day + #currentDay {
  background-color:#C2BFD6;
}

.day + #currentDay:hover {
  background-color: #ACA8C8;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

.event {
  font-size: 10px;
  padding: 3px;
  height: 10px;
  background-color: #4B4788;
  color: white;
  max-height: 55px;
  overflow: hidden;
}

.event:hover{
  background-color: #615C96;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 500vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#cancelButton {
  background-color: #d36c6c;
}

#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: fixed;
  font-family: sans-serif;
}